<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Rest API homepage app</title>
    <meta name="description" content="Common description for better seo :)">
    <meta name="author" content="Karol Białkowski">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div id="root">

    <header class="header">
        <a href="/" class="header__column header--logo">
            Rest API page
        </a>
        <div class="header__column header--description">
            Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </header>

    <article class="article">

        <h1>Example page to test api endpoints.</h1>
        <div class="article__lead">
            &diam; Click/select below and fill form to make new request. &diam;
        </div>

        <div class="container">
            <div id="selectApi">Loading react app...</div>
        </div>
    </article>
    <br/>
    <footer>
        <small class="form-text text-muted text-center">Powered by Karol Bialkowski, spam@bialkowskikarol.pl</small>
    </footer>
    <br/>
</div>

<script src="/js/index.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</body>
</html>